:root{
  --primary-color:  #8f23aa; 
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.cover-icon {
    font-size: 16rem;
    color: white;
}

.btn-wrapper {
    padding-top: 2rem;
}

.pager-link {
    width: 2.6rem;
}


.color-type{ 
    color: var(--primary-color);
}


/*Button */
.btn-purple {
  color: white;
  background-color: var(--primary-color); 
  border: 1px solid var(--primary-color);
  transition: all 0.2s ease;
}

.btn-purple:hover {
  background-color: white;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

/* Contact Us page */
.bottom-border-size {
    border-bottom-width: 2px !important;
}


/*Subcription Payment Form Page */
.slip-container img {
    width: 100%;       
    height: 390px;      
    object-fit: cover; 
    object-position: center;
}


/*Sucription Nav Link */
.append-nav-type {
  color: #8f23aa;   

}

.append-nav-type:hover {
  color: #ff6ec7;             
  background-color: transparent;
  border-color: transparent;
}

.append-nav  .active {
  background: linear-gradient(135deg, #d148f3, #f745b2);
}
